.card {
  width: 500px;
  height: 350px;
}

.card-body {
  max-height: 350px;
}

.card-body img {
  object-fit: contain;
}

.card-body p {
  top: 248px;
  font-size: 18px;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.4);
}
